.header {
  padding: 14px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black;

  .logo-holder {
    width: 75px;
  }

  .nav-holder {
    width: calc(100% - 75px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    padding: 0 22px;
  }

  .nav-item {
    padding: 0 20px;
  }

  .nav-link {
    text-transform: uppercase;
    color: $grey;
    font-size: 11px;

    &:hover {
      color: $orange;
      transition: all ease-in-out 0.3s;
    }
  }

  .btn-header {
    color: $orange;
    border: 1px solid $orange;

    &:hover {
      background-color: $orange;
      color: $black;
      transition: all ease-in-out 0.3s;
    }
  }
}
