.subscribe {
  padding: 125px 0 43px;

  .container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    .title-holder {
      margin-bottom: 82px;

      .section-title {
        margin-bottom: 20px;
      }
    }

    .subscribe-form {
      max-width: 420px;
      margin: 0 auto 24px;

      .subscribe-input {
        display: block;
        width: 100%;
        height: 59px;
        padding: 0 20px;
        margin: 0 auto;
        border: 1px solid $brown-border;
        background-color: $black;
        color: $white;
        font-family: "Old Standard TT", serif;
        font-size: 16px;

        &:hover {
          border: 1px solid $orange;
        }

        &:focus {
          box-shadow: 2px 1px 4px $orange;
          outline: none;
        }
      }

      .btn-subscribe {
        width: 100%;
        background-color: $orange;
        color: $black;
        border: 1px solid $orange;
        margin-bottom: 32px;

        &:hover {
          background-color: $black;
          color: $orange;
        }
      }

      .form-instruction {
        font-size: 14px;
        line-height: 20px;
        text-align: center;

        .highlight-orange {
          color: $orange;
        }

        .use-policy-link {
          color: $orange;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .social {
      display: flex;
      justify-content: center;

      .social-box {
        width: 48px;
        height: 48px;
        border: 1px solid $brown-border;
        text-align: center;
        padding: 14px 0;
        margin: 0 4px;

        &:hover {
          .social-link {
            color: $orange;
          }
        }

        .social-link {
          color: $white;
        }
        .social-icon {
          font-size: 20px;
        }
      }
    }
  }
}
