.template-pages {
  padding: 120px 0;

  @include breakpoint("md") {
    padding: 100px 0;
  }

  .flex {
    justify-content: center;
  }

  .card {
    max-width: 387px;
    width: calc(100% / 3);
    border: 1px solid $brown-border;
    padding: 25px 25px 41px;
    margin: 0 10px 20px;
    background-color: $black;

    @include breakpoint("lg") {
      width: 50%;
    }

    @include breakpoint("md") {
      max-width: 470px;
      width: 100%;
    }

    &:hover {
      transform: scale(1.2);
      transition: all ease-in-out 0.3s;

      .card-title {
        color: $orange;
      }
    }

    .card-title {
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      letter-spacing: 2px;
      color: $white;
    }
  }
}
