.template-pages {
  padding: 120px 0;

  .flex {
    justify-content: space-between;
  }

  .card {
    max-width: 387px;
    width: 100%;
    border: 1px solid $brown-border;
    padding: 31px;
    margin-bottom: 20px;
    background-color: $black;

    &:hover {
      transform: scale(1.2);
      transition: all ease-in-out 0.3s;

      .card-title {
        color: $orange;
      }
    }

    .card-title {
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      letter-spacing: 2px;
      color: $white;
    }
  }
}
