*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $black;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 12px;
  color: $grey;
}

main {
  padding-top: 50px;
}

h1,
h2,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: block;
  font-family: old-standart;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  cursor: pointer;
}

.pre-title {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  color: $grey;
  text-align: center;
  margin-bottom: 10px;
}

.section-title {
  font-weight: 400;
  font-size: 60px;
  color: $orange;
  text-align: center;

  @include breakpoint("sm") {
    font-size: 54px;
  }

  @include breakpoint("xs") {
    font-size: 38px;
  }
}

.title-holder {
  margin-bottom: 60px;
}
